@use "./styles/colors" as c;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  color: #fff;
  background-color: #282c34;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  padding: 0 1rem;
}

.column {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;

  &__sm {
    padding-top: 0rem;
    row-gap: 0.5rem;
  }
}
// Buttons

button.btn {
  cursor: pointer;
  border: solid 1px c.$button-border;
  border-radius: 22px;
  padding: 0.75rem 1.75rem;

  color: c.$button-text;
  background-color: c.$button-bg;

  transition: background-color 250ms ease;

  &:hover {
    background-color: c.$button-bg--hover;
  }

  &.primary {
    width: 100%;
    color: c.$button-primary-text;
    background-color: c.$button-primary-bg;
    border-radius: 9px;

    &:hover {
      background-color: c.$button-primary-bg--hover;
    }
  }
}
